nav a.current {
    color: var(--accent) !important;
    border-color: var(--accent) !important;
}

input:active,
input:focus {
    outline: none;
}

textarea:active,
textarea:focus {
    outline: none;
}

body {
    grid-template-columns: 1fr min(80rem, 90%) 1fr;
}

pre {
    font-size: 90%;
}

textarea {
    font-size: 95%;
}