<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block title %}
  <title>{{config.name}}</title>
  {% endblock title %}

  {% block description %}
  <meta name="Description" CONTENT="
    {{config.name}} {% if page.title -%}
      - {{page.title}}
    {%- elif page.name -%}
      - {{page.name}}
    {%- endif %} {% if page.description -%}
    - {{page.description}}
    {%- endif %}
  ">
  {% endblock description %}

  <link rel="stylesheet" href={{ url("/static/css/base.css") }}>

  <link rel="apple-touch-icon" sizes="180x180" href={{ url("/apple-touch-icon.png") }}>
  <link rel="icon" type="image/png" sizes="32x32" href={{ url("/favicon-32x32.png") }}>
  <link rel="icon" type="image/png" sizes="16x16" href={{ url("/favicon-16x16.png") }}>
  <link rel="manifest" href={{ url("/site.webmanifest") }}>

  <link rel="canonical" href={{ url(page.url) }}>
  <link rel="alternate" type="application/rss+xml" title="{{config.name}}" href="{{ url('feed') }}">

  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href={{ url("/static/css/style.css") }}>
  
  {% block css %}
  {% endblock css %}

</head>

<body>

  <header>
    <nav>
      {% for item in site.data.menu %}
        {% if url(item.link) == url(page.url) %}
          <a class="current" href="{{ url(item.link) }}">{{ item.name }}</a>
        {% else %}
          <a class="" href="{{ url(item.link) }}">{{ item.name }}</a>
        {% endif %}
      {% endfor %}
    <h1>Btclib tools</h1>
    <p>A collection of online utils for bitcoin devs</p>
    </nav>
  </header>


  <div class="main-content">
    {% block content %}
      {{page.content|html}}
    {% endblock content %}
  </div>

  <script src="https://cdn.jsdelivr.net/pyodide/v0.23.0/full/pyodide.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/pyodide/dev/full/pyodide.js"></script> -->
  {% block js %}
  {% endblock js %}

</body>
</html>
